%table#roles.table.table-striped.table-bordered.datatable
  %thead
    %tr
      %th 角色名称
      %th 
      %th
  %tbody      
    - @roles.each do |role|
      %tr
        %td= role.name
        %td= link_to '查看用户', role_path(role)
        %td= link_to '删除', role, :confirm => '确定删除吗？', :method => :delete
%hr  
.well  
  = link_to '新增角色', new_role_path, class: "btn btn-large"
