%table.table.table-striped.table-bordered.datatable
  %thead
    %tr
      %th 部门名称
      %th 用户姓名
      %th 角    色
  %tbody
    - @users.each do |user|
      %tr
        %td= user.department.name
        %td= user.name
        %td= @role.name
       
        
