.container
  .row
    .span4.brand
      %h4 湖北银监局版权所有
    .span4    
      %span 建议使用Chrome、Fixfox等浏览器，或IE9.0以上版本。
      %br
      %span 业务主管部门：人事处; 联系电话: 85565053      
      %br
      %span
        %a{href: "mailto:luowenbo@cbrc.gov.cn", class: "label"} 
          %i.icon-envelope.icon-white
          联系管理员
    .span4
