- if @breadcrumbs.present?
  %ul.breadcrumb.menu.clearfix
    - @breadcrumbs[0..-2].each do |title, url|
      %li
        = link_to(h(title), url) 
        %span.divider >
    %li.active
      = link_to @breadcrumbs.last.first
